.report_container {
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  padding-top: 166px;
}

.report_title {
  font-size: 3rem;
}
.report_reason {
  color: #000;
  font-family: inherit;
  font-size: 30px;
  margin: 2.5rem;
  outline: none;
  padding: 24px 30px;
  position: relative;
  resize: none;
  width: 60%;
  border: none;
  border-radius: 1rem;
  background-color: lightgray;
}

.report_btn {
  border: none;
  border-radius: 6px;
  background-color: #f55321;
  cursor: pointer;
  font-weight: 600;
  margin-top: 2rem;
  padding: 1.25rem 7rem;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2rem;
}
/* ---------------Media-Queries----------------- */
@media (max-width: 1000px) {
  .report_title {
    width: 60vw;
  }
}

/* ---------------Media-Queries----------------- */
