.view_feed_container {
  display: flex;
  margin-top: 300px;
  justify-content: space-around;
  position: relative;
}
.details {
  align-self: center;
}

.report_link {
  position: absolute;
  font-size: 1.2rem;
  color: red;
  bottom: 0;
  right: 266px;
}
