.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0px 1px 15px rgb(0 0 0 / 15%);
}

.search input {
  outline: none;
  border: none;
  font-size: 1.7rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: lightgray;
  border-radius: 0.4rem;
  width: 300px;
}

.nav_btn {
  background-color: tan;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 1px 1px 13px rgb(0 0 0 / 40%);
}

.disconnect_btn {
  color: tan;
  border: 5px solid tan;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 30%);
}
.search {
  display: flex;
  gap: 1rem;
}

.search_result_box {
  width: 300px;
  max-height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 7px;
  position: absolute;
  top: 73px;
}

.search_result_box::-webkit-scrollbar {
  display: none;
}

.search_result_box_item {
  font-size: 1.2rem;
  font-size: 1.4rem;
  padding: 9px 24px;
  border-radius: 7px;
}

.search_result_box_item:hover {
  background-color: lightgray;
}

.eladr_price {
  display: flex;
  align-items: center;
}
