.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  box-shadow: 0px 1px 15px rgb(0 0 0 / 15%);
}
.menu_icon {
  display: none;
}
.full_logo {
  z-index: -1;
}
.flex {
  align-self: center;
}

.search input {
  outline: none;
  border: none;
  font-size: 1.7rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: lightgray;
  border-radius: 0.4rem;
  width: 300px;
}

.nav_btn {
  background-color: tan;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
}
.nav_btn:hover {
  box-shadow: 1px 1px 13px rgb(0 0 0 / 40%);
}
.disconnect_btn {
  color: #fff;
  border: none;
  background-color: #f55e30;
  padding: 1.2rem;
  font-size: 1rem;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 30%);
}

.disconnect_btn:hover {
  box-shadow: 1px 1px 13px rgb(0 0 0 / 40%);
}

.search {
  display: flex;
  gap: 1rem;
}

.search_result_box {
  width: 300px;
  max-height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 7px;
  position: absolute;
  top: 83px;
}

.search_result_box::-webkit-scrollbar {
  display: none;
}

.search_result_box_item {
  font-size: 1.2rem;
  font-size: 1.4rem;
  padding: 9px 24px;
  border-radius: 7px;
}

.search_result_box_item:hover {
  background-color: lightgray;
}

.eladr_price {
  display: flex;
  align-items: center;
}

.search_btn {
  transform: translate(-45px, 2px);
  padding: 7.5px;
  border: none;
  background-color: transparent;
}
.search_icon {
  border: none;
  font-size: 27px;
}
.search_icon_btn {
  display: none;
}
.close_btn {
  display: none;
}
.close_input_btn {
  display: none;
}

.buy_sell {
  padding: 1.2rem;
  background-color: rgb(187, 187, 66);
  border-radius: 10px;
}
.buy_sell:hover {
  box-shadow: 1px 1px 13px rgb(0 0 0 / 40%);
}

.total_balance {
  font-size: 1.2rem;
}
/* ------------------Media Queries--------------------- */
@media (max-width: 1250px) {
  .input_and_result_wrap input {
    width: 250px;
  }
  .search_result_box {
    width: 250px;
  }
}
@media (max-width: 1178px) {
  .input_and_result_wrap input {
    width: 220px;
  }
  .search_result_box {
    width: 220px;
  }
}
@media (max-width: 1164px) {
  .input_and_result_wrap input {
    width: 200px;
  }
  .price {
    font-size: 0.9rem;
  }
}
/* @media (max-width: 1118px) {
  .input_and_result_wrap input {
    width: 160px;
  }
}
@media (max-width: 1064px) {
  .input_and_result_wrap input {
    width: 140px;
  }
} */

@media (max-width: 1080px) {
  .full_logo {
    margin-left: 13em;
  }

  .menu_icon {
    display: block;
  }
  .nav_btn,
  .disconnect_btn,
  .price {
    display: none;
  }
  .search {
    display: none;
  }

  .search_icon_btn {
    display: block;
  }
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
  }
  .show {
    display: block;
    z-index: 99;
  }
  .active_menu {
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }
  .active_menu .nav_btn,
  .active_menu .disconnect_btn {
    display: block;
    font-size: 3rem;
    align-self: center;
    z-index: 99;
  }

  .active_menu .disconnect_btn {
    padding: 1rem 2rem;
  }

  .active_menu .nav_btn {
    transform: translateX(0%);
    padding: 1rem 5rem;
  }
  .close_btn {
    display: none;
    z-index: 99;
  }
  .active_menu .close_btn {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  .show_price {
    display: block;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 563px;
  }

  .responsive_search {
    position: absolute;
    top: 0;
    height: 105px;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .responsive_search input {
    width: 90vw;
    height: 60%;
    border: none;
    font-size: 2rem;
    outline: none;
    padding: 0px 71px 0px 17px;
    background-color: white;
  }
  .responsive_search .search_result_box {
    width: 96%;
  }
  .close_input_btn {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 31px;
    right: 2.5%;
    font-size: 13px;
    padding: 5px;
  }
  .search_btn {
    position: absolute;
    right: 2%;
    top: 30%;
  }
}
@media (max-width: 800px) {
  .full_logo {
    margin-left: 6em;
  }
}

@media (max-width: 614px) {
  .price {
    font-size: 1.2rem;
  }
  .show_price {
    width: 470px;
    padding: 1.5rem;
    top: 18%;
  }
}
@media (max-width: 530px) {
  .price {
    font-size: 1rem;
  }
  .show_price {
    width: 411px;
  }
}

/* ------------------Media Queries--------------------- */
