.footer {
  color: red;
  bottom: 0;
  position: absolute;
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
}

.scrollable {
  position: relative;
}
.fixed {
  left: 50%;
  transform: translateX(-50%);
}

div .footer_item {
  padding: 2rem;
}
